.contact-box {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
}

form button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 8px;
}
